# ignorar la carpeta que crea postgres en docker con la data de la tabla
postgres-data

docker/postgres/postgres-data
docker/airflow/aiflow-data
docker/airflow/logs/*

docker/ETL_python/data

Dashboard.pbix

data.zip
data/*